@mixin mobile {
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 991.98px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media (max-width: 991.98px) {
    @content;
  }
}

@mixin tablet-and-desktop {
  @media (min-width: 768px) {
    @content;
  }
}

